{% extends "layout.html" %}

{% block body %}
    {% if current_user.is_authenticated %}
        {% if no_saved is defined %}
            <h3>Here are all users who have something saved:</h3>
            {% for user in no_saved %}
                <h5>User {{user.name}} has {{user.count}} passwords stored!</h5>
            {% endfor %}
        {% endif %}
        {% if find_services is defined %}
            <h3>You have account details saved for these services:</h4>
            {% for service in find_services %}
                <h5>{{service.name}}</h5>
            {% endfor %}
        {% endif %}
    {% else %}
    <h3>Virtual Keychain!</h3>
    <h5>Here you can store all your passwords so you will never forget them again!</h5>
    <h5>Sign up to get started.</h5>
    {% endif %}

{% endblock %}