{% extends "layout.html" %}

{% block body %}
  <input class="w3-input w3-border w3-padding" type="text" placeholder="Search.." 
    oninput="w3.filterHTML('#t1', '.item', this.value)">
  <table id="t1" class="w3-table w3-bordered w3-border w3-margin-top">
    <tr>
      <th class="w3-dark-grey w3-hover-black" onclick="w3.sortHTML('#t1', '.item', 'td:nth-child(1)',)"
        style="cursor:pointer">Service provider</th>
      <th class="w3-dark-grey w3-hover-black" onclick="w3.sortHTML('#t1', '.item', 'td:nth-child(2)')"
        style="cursor:pointer">Username</th>
      <th class="w3-dark-grey w3-hover-black" onclick="w3.sortHTML('#t1', '.item', 'td:nth-child(3)')"
        style="cursor:pointer">Password</th>
      <th class="w3-dark-grey"></th>
      <th class="w3-dark-grey"></th>
    </tr>
    {% for password in passwords %}
    <tr class="item">
      <td>{{ password.service.name }}</td>
      <td>{{ password.username }}</td>
      <td>{{ password.password }}</td>
      <td>
        <form method="GET" action="{{ url_for('passwords_update',
                password_id = password.id) }}">
            <input type="submit" value="Update"/>
        </form>
      </td>
      <td>
        <form method="GET" action="{{ url_for('passwords_delete',
                password_id = password.id) }}">
            <input type="submit" value="Delete"/>
        </form>
      </td>
      
    </tr>
    {% endfor %}
  </table>
{% endblock %}